@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSans/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300; }

img {
  max-width: 100%; }

.container {
  max-width: 1170px;
  margin: auto; }

@media (max-width: 1200px) {
  .container {
    max-width: 760px;
    width: 95%; } }
@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 89%; } }
.button {
  background-color: #ffd200;
  padding: 17px 30px;
  border-radius: 10px;
  border: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700; }
  .button:hover {
    background-color: #ffdb33;
    cursor: pointer; }

.section-title {
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-top: 0;
  text-align: center; }
.section-subtitle {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700; }

.arrows__left, .arrows__right {
  cursor: pointer; }

.input {
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 25px; }
  .input::placeholder {
    font-size: 15px;
    color: #999999; }
  .input:focus {
    outline: none;
    border-color: orange; }

.invalid {
  font-size: 12px;
  margin-top: 5px;
  border: 1px solid red;
  width: max-content; }

.valid {
  border: 1px solid green; }

#offer__username-error,
#offer__phone-error,
#offer__email-error,
#brif__username-error,
#brif__phone-error,
#brif__email-error {
  border: none;
  position: absolute; }

#offer__username-error,
#offer__phone-error,
#offer__email-error {
  position: static; }

.navbar {
  padding: 8px 0; }
  .navbar-block {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navbar__info {
    display: flex;
    color: #333333; }
  .navbar__contacts {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 30px; }
  .navbar__button {
    font-size: 13px; }
    .navbar__button:focus {
      outline: none; }
  .navbar__address {
    color: #333333;
    font-size: 13px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700; }
  .navbar__phone {
    text-decoration: none;
    color: #333333;
    font-size: 20px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700; }

@media (max-width: 768px) {
  .navbar__contacts {
    display: none; }
  .navbar__button {
    padding: 14px 26px;
    font-size: 10px;
    border-radius: 5px; }
  .navbar__logo {
    width: 91px; } }
.hero {
  padding: 50px 0 40px 0;
  background-color: #f5f5f5; }
  .hero-block {
    display: flex;
    justify-content: space-between; }
  .hero-text {
    flex-basis: 45%;
    padding-right: 50px;
    display: flex;
    flex-direction: column; }
    .hero-text__title {
      color: #333333;
      font-size: 41px;
      font-family: 'Museo Sans Bold', sans-serif;
      font-weight: 700;
      line-height: 55px;
      margin-bottom: 40px; }
    .hero-text__subtitle {
      display: inline-block;
      color: #333333;
      font-size: 20px;
      font-family: 'Museo Sans Bold', sans-serif;
      font-weight: 700; }
  .hero-list {
    margin-top: 68px;
    padding: 0; }
    .hero-list__item {
      text-decoration: none;
      display: flex;
      align-items: center;
      margin-bottom: 23px; }
      .hero-list__item:last-child {
        margin-bottom: 0; }
    .hero-list__image {
      width: 38px;
      height: 38px;
      border: 2px solid #ffd200;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center; }
    .hero-list__text {
      width: 240px;
      font-size: 14px;
      line-height: 24px;
      margin-left: 30px; }

@media (max-width: 1200px) {
  .hero-block {
    flex-direction: column; }
  .hero-text {
    padding-right: 10px; }
  .hero-list {
    margin-bottom: 38px; }
  .hero-image {
    margin: 0 10px; } }
@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 13px; }
  .hero-text__subtitle {
    font-size: 16px;
    padding-right: 90px; }
  .hero-list {
    margin-top: 28px; }
    .hero-list__item {
      margin-bottom: 20px; }
    .hero-list__text {
      margin-left: 15px; } }
.offer {
  padding: 74px 0 74px 0;
  background: url("../img/offer/kitchen.png") no-repeat center right;
  background-size: contain;
  position: relative; }
  .offer:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    top: 0;
    left: 0; }
  .offer-block {
    width: 50%;
    padding-right: 90px;
    position: relative; }
  .offer__title {
    max-width: 350px;
    margin-bottom: 20px;
    line-height: 35px;
    text-align: left;
    font-size: 24px; }
  .offer__subtitle {
    margin-bottom: 30px;
    font-size: 16px;
    max-width: 250px; }
  .offer__input {
    margin-top: 25px;
    width: 100%;
    height: 65px;
    padding-left: 33px;
    position: relative; }
  .offer__button {
    width: 100%;
    display: block;
    margin-top: 30px;
    padding: 27px 0; }
  .offer__footer {
    display: flex; }
  .offer__text {
    width: 50%;
    font-size: 15px;
    line-height: 24px;
    margin-top: 25px; }
    .offer__text:first-child {
      margin-right: 45px; }
    .offer__text:last-child {
      width: 200px; }
  .offer__phone {
    display: inline-block;
    text-decoration: none;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #333333; }

@media (max-width: 1200px) {
  .offer {
    background-size: cover; }
    .offer__form {
      display: flex;
      flex-direction: column; }
    .offer__input {
      width: 100%; }
      .offer__input:first-child {
        margin-bottom: 10px; }
    .offer__button {
      margin-top: 15px;
      padding: 27px 55px; }
    .offer__footer {
      flex-direction: column; }
    .offer__text {
      width: 100%;
      margin: 18px 45px 0 0; }
      .offer__text:first-child {
        margin-top: 27px; }
    .offer__phone {
      display: flow-root; } }
@media (max-width: 768px) {
  .offer {
    background: none; }
    .offer-block {
      width: 100%;
      padding-right: 0; }
    .offer__title {
      width: 100%;
      font-size: 18px;
      line-height: 1.4; }
    .offer__subtitle {
      font-size: 14px;
      margin-bottom: 27px; }
    .offer__form {
      display: flex;
      flex-direction: column; }
    .offer__input {
      width: 100%; }
      .offer__input:first-child {
        margin-bottom: 8px; }
    .offer__button {
      margin-top: 10px; } }
@media (max-width: 576px) {
  .offer__button {
    padding: 19px 65px;
    font-size: 14px; } }
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; }
  .modal_active {
    display: flex; }
  .modal-dialog {
    position: relative;
    margin: auto;
    width: 90%;
    max-width: 450px;
    min-width: 200px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 20px; }
    .modal-dialog__close {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #dddddd;
      width: 50px;
      height: 120px;
      font-weight: bold;
      border: 1px solid #333333;
      border-radius: 10px; }
      .modal-dialog__close:hover {
        transition: 0.5s;
        cursor: pointer;
        background-color: #ff4d4d; }
      .modal-dialog__close:focus {
        outline: none; }

.portfolio {
  padding: 100px 0;
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.jpg") repeat-y left;
  background-size: 50%; }
  .portfolio__title {
    font-size: 30px;
    line-height: 45px;
    max-width: 500px;
    margin: auto auto 100px; }
  .portfolio__arrows {
    max-width: 120px;
    margin: 68px auto auto;
    display: flex;
    justify-content: space-between; }

.slider__item img {
  width: 370px;
  height: 280px; }

.owl-nav {
  max-width: 120px;
  margin: 68px auto auto;
  display: flex;
  justify-content: space-between; }
.owl-prev:focus, .owl-next:focus {
  outline: none; }

@media (max-width: 768px) {
  .slider__image {
    margin: auto; } }
.price {
  margin-top: 100px;
  padding: 100px auto 70px; }
  .price__title {
    max-width: 500px;
    margin: auto auto 60px; }
  .price__subtitle {
    display: block;
    text-align: center;
    margin: auto auto 60px; }
  .price__card {
    margin-bottom: 30px;
    max-width: 370px; }

.card {
  text-align: center;
  border: 1px solid #e8e8e8; }
  .card:hover {
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
    transition: 0.2s; }
  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .card__image {
    position: relative; }
    .card__image img {
      display: block; }
    .card__image:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
      opacity: 0; }
    .card__image:hover:before {
      opacity: 1;
      transition: 0.5s; }
  .card__text {
    padding: 40px; }
  .card__title {
    font-family: 'Museo Sans Light', sans-serif;
    font-weight: 300;
    margin-top: 0; }
  .card__link {
    display: inline-block;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    line-height: 18px;
    position: relative; }
    .card__link:hover:after {
      height: 12px;
      transition: 0.2s; }
    .card__link:after {
      z-index: -1;
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      display: block;
      width: 100%;
      background-color: #ffd200;
      height: 3px; }

@media (max-width: 800px) {
  .cards {
    align-items: center;
    flex-direction: column; }
  .card__title {
    font-size: 14px; }

  .price__title {
    font-size: 18px;
    max-width: 80%; }
  .price__subtitle {
    font-size: 14px; } }
.steps {
  padding-top: 62px;
  padding-bottom: 100px; }
  .steps__title {
    margin: auto;
    max-width: 651px;
    padding-bottom: 60px; }
  .steps__subtitle {
    display: block;
    text-align: center;
    padding-bottom: 58px; }
  .steps__list {
    display: flex;
    justify-content: space-between; }
  .steps__item {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
    .steps__item:after {
      content: '';
      position: absolute;
      background-image: url("../img/steps/arrow.png");
      background-size: 72px 25px;
      width: 72px;
      height: 25px;
      background-repeat: no-repeat;
      right: -90px;
      top: -15px; }
    .steps__item:last-child:after {
      display: none; }
  .steps__icon {
    width: 100px;
    height: 100px;
    padding: 30px;
    border: 3px solid #ffd200;
    border-radius: 50%;
    margin-bottom: 30px;
    text-align: center; }
  .steps__text {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin: 0; }

@media (max-width: 1200px) {
  .steps__title {
    font-size: 18px; }
  .steps__item:after {
    right: -40px;
    top: -20px; }
  .steps__text {
    font-size: 12px;
    line-height: 1.2; } }
@media (max-width: 768px) {
  .steps__title {
    font-size: 18px; }
  .steps__list {
    flex-wrap: wrap;
    justify-content: space-around; }
  .steps__item {
    margin-bottom: 34px; }
    .steps__item:after {
      display: none; }
    .steps__item:last-child {
      float: left; }
  .steps__text {
    font-size: 12px;
    line-height: 1.2; } }
@media (max-width: 360px) {
  .steps__list {
    flex-direction: column;
    align-items: center; } }
.benefit__title {
  padding: 100px auto;
  background-color: #ffc000;
  text-align: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .benefit__title h2 {
    width: 907px;
    text-align: center;
    font-size: 32px;
    font-family: 'Museo Sans Light', sans-serif;
    font-weight: 300; }
.benefit-block {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 143px; }
.benefit__item {
  width: 370px;
  height: 414px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .benefit__item:first-child {
    background: url("../img/benefit/item1.png") no-repeat; }
  .benefit__item:nth-child(2) {
    background: url("../img/benefit/item2.png") no-repeat; }
  .benefit__item:last-child {
    background: url("../img/benefit/item3.png") no-repeat; }
.benefit__text {
  display: block;
  padding-top: 27px;
  padding-left: 26px;
  padding-right: 85px;
  font-size: 16px; }
  .benefit__text strong {
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700; }
.benefit__image {
  transition: 0.5s; }
  .benefit__image:hover {
    opacity: 0; }

.warranty {
  padding-bottom: 228px; }
  .warranty__title {
    margin: auto;
    width: 672px; }
  .warranty__list {
    margin-top: 100px;
    display: flex;
    justify-content: space-around; }
  .warranty__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px; }
  .warranty__text {
    margin-top: 40px;
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 24px; }

@media (max-width: 1200px) {
  .benefit__title h2 {
    font-size: 22px;
    line-height: 1.2; }
  .benefit-block {
    flex-wrap: wrap;
    justify-content: space-around; }
  .benefit__item {
    margin-bottom: 10px; }

  .warranty__title {
    max-width: 90%; }
  .warranty__list {
    flex-wrap: wrap; } }
@media (max-width: 768px) {
  .benefit__title h2 {
    font-size: 18px;
    max-width: 95%; }
  .benefit__item {
    width: 272px;
    height: 300px;
    padding: 0;
    margin: 15px;
    position: relative; }
    .benefit__item:first-child {
      background-size: cover; }
    .benefit__item:nth-child(2) {
      background-size: cover; }
    .benefit__item:last-child {
      background-size: cover; }
  .benefit__text {
    font-size: 12px; }
  .benefit__image {
    padding-top: 5px;
    position: absolute;
    bottom: -6px; }

  .warranty__title {
    font-size: 18px;
    line-height: 1.2; }
  .warranty__item {
    margin-bottom: 44px; }
    .warranty__item:last-child {
      margin-bottom: 0; } }
.brif {
  background-image: url("../img/brif/brif-bg-color.jpg"), url("../img/brif/room.jpg");
  background-position: left center, center right;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
  padding-top: 106px;
  padding-bottom: 93px; }
  .brif-block {
    display: flex;
    justify-content: space-between; }
  .brif__interview {
    flex-basis: 50%;
    margin-right: 70px; }
  .brif__form {
    flex-basis: 50%;
    margin-left: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 368px; }
  .brif__input {
    position: relative;
    width: 100%;
    margin-top: 25px; }
    .brif__input::placeholder {
      font-size: 15px; }
  .brif__button {
    display: block;
    width: 100%;
    padding: 25px;
    margin-top: 30px;
    margin-bottom: 33px; }

.interview__title {
  margin-top: 0;
  margin-bottom: 50px; }
.interview-list {
  margin-top: 94px;
  height: 240px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .interview-list__item {
    display: flex;
    align-items: center; }
  .interview-list__counter {
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
    border: 2px solid #000000;
    padding: 10px 13px;
    border-radius: 50%;
    margin-right: 32px; }
  .interview-list__text {
    max-width: 379px; }

.form {
  text-align: center; }
  .form__title {
    margin-top: 0;
    margin-bottom: 52px; }
  .form__subtitle {
    display: block;
    margin-bottom: 49px; }
  .form__description {
    display: block;
    text-align: center;
    font-size: 15px; }

@media (max-width: 1200px) {
  .brif {
    background-image: url("../img/brif/brif-bg-color.jpg"), url("../img/brif/room.jpg");
    background-position: left center, center right;
    background-size: 50%, cover;
    background-repeat: repeat-y, no-repeat; }
    .brif__form {
      margin-left: 20px; }

  .interview {
    margin-right: 10px; } }
@media (max-width: 768px) {
  .brif {
    background-image: url("../img/brif/brif-bg-color.jpg"), url("../img/brif/room.jpg");
    background-position: top center, bottom;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x, no-repeat; }
    .brif-block {
      flex-direction: column; }
    .brif__title {
      font-size: 18px; }
    .brif__subtitle {
      font-size: 14px; }

  .interview-list {
    margin-bottom: 61px; }
    .interview-list__item {
      font-size: 14px; }

  .form {
    margin: 61px auto auto;
    width: 100%; }
    .form__title {
      margin-top: 50px;
      font-size: 18px; }
    .form__subtitle {
      font-size: 14px; }
    .form__description {
      font-size: 14px; } }
.footer {
  position: relative; }

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; }

.contacts {
  flex-basis: 50%;
  padding-top: 100px;
  padding-left: 215px; }
  .contacts-block {
    display: flex;
    justify-content: flex-end; }
  .contacts__title {
    margin-top: 0;
    max-width: 293px;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 100px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700; }
  .contacts__list {
    list-style: none; }
  .contacts__item {
    display: flex;
    margin-bottom: 40px; }
  .contacts__icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px; }
  .contacts__text {
    width: 147px;
    font-size: 16px;
    line-height: 26px; }
    .contacts__text strong {
      font-family: 'Museo Sans Bold', sans-serif;
      font-weight: 700; }
    .contacts__text a {
      font-family: 'Museo Sans Bold', sans-serif;
      font-weight: 700;
      text-decoration: none;
      color: #333333; }
      .contacts__text a:focus {
        outline: none; }

@media (max-width: 1200px) {
  .contacts {
    padding-left: 50px; }
    .contacts__title {
      margin-bottom: 60px; }
    .contacts__list {
      padding-left: 0; } }
@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column; }

  .map {
    order: 2;
    position: static;
    width: 100%; }

  .contacts {
    padding-top: 67px;
    order: 1;
    flex-basis: auto;
    width: 100%;
    padding-left: 50px; }
    .contacts__title {
      font-size: 18px;
      line-height: 1.2;
      margin-bottom: 40px; }
    .contacts__item:last-child {
      margin-bottom: 64px; } }
.button-scroll-top {
  z-index: 1;
  font-size: 30px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  padding: 20px 30px;
  margin: 0; }
  .button-scroll-top:focus {
    outline: none; }

@media (max-width: 768px) {
  .button-scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    margin: 0; } }

/*# sourceMappingURL=style.css.map */
