* {
  box-sizing: border-box;
}

body {
  @include reg;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  margin: auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 760px;
    width: 95%;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 89%;
  }
}



.button {
  background-color: $main-color;
  padding: 17px 30px;
  border-radius: 10px;
  border: none;
  @include bold;
  &:hover {
    background-color: lighten($main-color, 10%);
    cursor: pointer;
  }
}

.section {
  &-title {
    color: $text-color;
    @include bold;
    font-size: 30px;
    margin-top: 0;
    text-align: center;
  }
  &-subtitle {
    display: inline-block;
    color: $text-color;
    font-size: 20px;
    @include bold;
  }
}

.arrows {
  &__left, &__right {
    cursor: pointer;
  }

}

.input {
  border: 1px solid $border-input;
  border-radius: 10px;
  padding: 25px;
  &::placeholder {
    font-size: 15px;
    color: $text-input;
  }
  &:focus {
    outline: none;
    border-color: orange;

  }
}


.error {
  border: 1px solid red;
}


.valid {
  border: 1px solid green;
}

