.hero {
  padding: 50px 0 40px 0;
  background-color: $background-color;
  &-block {
    display: flex;
    justify-content: space-between;
  }
  &-text {
    flex-basis: 45%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    &__title {
      color: $text-color;
      font-size: 41px;
      @include bold;
      line-height: 55px;
      margin-bottom: 40px;
    }
    &__subtitle {
      display: inline-block;
      color: $text-color;
      font-size: 20px;
      @include bold;
    }
  }
  &-list {
    margin-top: 68px;
    padding: 0;

    &__item {
      text-decoration: none;
      display: flex;
      align-items: center;
      margin-bottom: 23px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__image {
      width: 38px;
      height: 38px;
      border: 2px solid $main-color;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__text {
      width: 240px;
      font-size: 14px;
      line-height: 24px;
      margin-left: 30px;
    }
  }
  &-image {
  }
}

@media (max-width: 1200px) {

  .hero {
    &-block {
      flex-direction: column;
    }
    &-text {
      padding-right: 10px;
    }
    &-list {
      margin-bottom: 38px;
    }
    &-image {
      margin: 0 10px;
    }
  }
}
@media (max-width: 768px) {
  .hero {
    &-text {
      &__title {
        font-size: 24px;
        line-height: 1.3;
        margin-bottom: 13px;
      }
      &__subtitle {
        font-size: 16px;
        padding-right: 90px;
      }
    }
    &-list {
      margin-top: 28px;
      &__item {
        margin-bottom: 20px;
      }
      &__text {
        margin-left: 15px;
      }
    }
  }
}