.offer {
  padding: 84px 0 92px 0;
  background: url("../img/offer/kitchen.png") no-repeat right;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    top: 0;
    left: 0;
  }

  &-block {
    width: 50%;
    padding-right: 90px;
    position: relative;
  }
  &__title {
    width: 345px;
    margin-bottom: 24px;
    line-height: 35px;
  }
  &__subtitle {
    margin-bottom: 30px;

    width: 250px;
  }
  &__form {
  }
  &__input {
    width: 240px;
    height: 65px;
    border: 1px solid $border-input;
    border-radius: 10px;
    padding-left: 33px;
    &:first-child {
      margin-right: 11px;
    }
    &::placeholder {
      font-size: 15px;
      color: $text-input;
    }
    &:focus {
      outline: none;
    }
  }
  &__button {
    width: 100%;
    display: block;
    margin-top: 30px;
    padding: 27px 0;
  }
  &__footer {
    display: flex;
  }
  &__text {
    width: 50%;
    font-size: 15px;
    line-height: 24px;
    &:first-child {
      margin-right: 45px;
    }
  }
  &__phone {
    display: inline-block;
    text-decoration: none;
    @include bold;
    font-size: 15px;
    color: $text-color;
  }

}

@media (max-width: 1200px) {
  .offer {
    &__form {
      display: flex;
      flex-direction: column;
    }
    &__input {
      width: 100%;
      &:first-child {
        margin-bottom: 10px;
      }
    }
    &__button {
      margin-top: 15px;
      padding: 27px 55px;
    }

    &__footer {
      flex-direction: column;
    }
    &__text {
      width: 100%;
      margin: 18px 45px 0 0;
      &:first-child {
        margin-top: 27px;
      }

    }
    &__phone {
      display: flow-root;
    }
  }
}

@media (max-width: 768px) {
  .offer {
    background: none;
    &:before {
    }
    &-block {
      width: 100%;
      padding-right: 0;
    }
    &__title {
      width: 100%;
      font-size: 18px;
      line-height: 1.4;
    }
    &__subtitle {
      font-size: 14px;
      margin-bottom: 27px;
    }
    &__form {
      display: flex;
      flex-direction: column;
    }
    &__input {
      width: 100%;
      &:first-child {
        margin-bottom: 8px;
      }
    }
    &__button {
      margin-top: 10px;
    }
  }
}


@media (max-width: 576px) {
  .offer {
    &__button {
      padding: 19px 65px;
      font-size: 14px;
    }
  }
}