.portfolio {
  padding: 100px 0;
  background: $background-color url("../img/portfolio/portfolio-pattern.jpg") repeat-y left;
  background-size: 50%;
  &__title {
    font-size: 30px;
    line-height: 45px;
    max-width: 500px;
    margin: auto auto 100px;
  }
  &__arrows {
    max-width: 120px;
    margin: 68px auto auto;
    display: flex;
    justify-content: space-between;
  }
}

.slider {
  &__item {
    img {
      width: 370px;
      height: 280px;
    }
  }
}

.owl {
  &-nav {
    max-width: 120px;
    margin: 68px auto auto;
    display: flex;
    justify-content: space-between;
  }
  &-prev, &-next {
    &:focus {
      outline: none;
    }
  }
}


@media (max-width: 768px) {
  .slider {
    &__item {
    }
    &__image {
      margin: auto;

    }
  }
}



