.footer {
  position: relative;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;

}

.contacts {
  flex-basis: 50%;
  padding-top: 100px;
  padding-left: 215px;
  &-block {
    display: flex;
    justify-content: flex-end;
  }
  &__title {
    margin-top: 0;
    max-width: 293px;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 100px;
    @include bold;
  }
  &__list {
  list-style: none;
  }
  &__item {
    display: flex;
    margin-bottom: 40px;
  }
  &__icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

  }
  &__text {
    width: 147px;
    font-size: 16px;
    line-height: 26px;
    strong {
      @include bold;
    }
    a {
      @include bold;
      text-decoration: none;
      color: $text-color;
      &:focus {
        outline: none;
      }
    }
  }
}

@media (max-width: 1200px) {
  .footer {
  }

  .map {
  }

  .contacts {

    padding-left: 50px;
    &-block {
    }
    &__title {
      margin-bottom: 60px;
    }
    &__list {
      padding-left: 0;
    }
    &__item {
    }
    &__icon {

    }
    &__text {

      a {
        &:focus {
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;

  }

  .map {
    order: 2;
    position: static;
    width: 100%;
  }

  .contacts {

    padding-top: 67px;
    order: 1;
    flex-basis: auto;
    width: 100%;

    padding-left: 50px;
    &-block {
    }
    &__title {
      font-size: 18px;
      line-height: 1.2;
      margin-bottom: 40px;
    }
    &__list {
    }
    &__item {
      &:last-child {
        margin-bottom: 64px;
      }
    }
    &__icon {

    }
    &__text {

      a {
        &:focus {
        }
      }
    }
  }
}

